/*
=============== 
Variables
===============
*/

:root {

    /* light mode */
    --l-bg-blue: rgba(186, 203, 230, 1);
    --l-gradient-blue: rgba(140, 163, 201, 1);
    --l-gradient-purple: rgba(214, 198, 223, 1);
    --l-gradient-pink: rgba(226, 176, 181, 1);
    --l-mountain-gradient: rgba(102, 127, 163, 1);
    --l-primary: rgba(58, 71, 104, 1);

    /* dark mode */
    --d-bg-blue: rgba(74, 97, 133, 1);
    --d-dark-blue: rgba(2, 34, 61, 1);
    --d-medium-blue: rgba(112, 141, 189, 1);
    --d-light-blue: rgba(158, 186, 225, 1);
    --d-primary: rgba(35, 45, 71, 1);
    --d-primary-half: rgba(35, 45, 71, 0.5);
    
    /* neutrals */
    --white: rgba(255, 255, 255, 1);
    --half-white: rgba(255, 255, 255, 0.5);
    --gray: rgba(128, 142, 154, 1);
    --black: rgba(21, 21, 21, 1);

    /* typography */
    --font-headings: 'Playfair Display', serif;

    --font-body: 'Montserrat', sans-serif;

    --font-extra-light: 200;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --heading-light: 400;
    --heading-medium: 500;
    --heading-b0ld: 700;

    --transition: all 0.3s linear;

    --mobile-light-mountains: url(images/light-mountains.svg);
    --mobile-dark-mountains: url(images/dark-mountains.svg);
    --desktop-light-mountains: url(images/desk-light-mountains.svg);
    --desktop-dark-mountains: url(images/desk-dark-mountains.svg);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body, h2, h3, h4, h5, h6, p {
  font-family: var(--font-body);
}
h1 {
font-family: var(--font-headings);
}
ul {
    list-style: none;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}

/*
=============== 
Design
===============
*/
body {
  width: 100vw;
  color: var(--l-primary);
  background-color: var(--l-bg-blue);
  transition: var(--transition);
  overflow-x: hidden;
}
header {
  position: relative;
  min-height: 100svh;
  min-width: 100vw;
}
.sky {
  position: absolute;
  min-height: 100svh;
  min-width: 100vw;
  background:linear-gradient(180deg, #34445d 50%, var(--l-gradient-blue), var(--l-gradient-purple), var(--l-gradient-pink));
  background-size: 100% 275%;
  background-position: bottom;
  transition: var(--transition);
  overflow: hidden;
}
.mountains {
  position: absolute;
  background-image: var(--desktop-light-mountains);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-width: 100vw;
   height: 70vh;
   bottom: -1vh;
}
.gradient {
  position: absolute;
  background-image: linear-gradient(to bottom, #667fa3, #7b91b3, #8fa4c4, #a5b7d5, #bacbe6);
   bottom: -29.25vh;
   height: 30vh;
   min-width: 100vw;
  overflow: hidden;
}

/* Light-Mode Background Design */
.day-sky {
  opacity: 1;
  transition: 0.1s;
  overflow: hidden;
  transition-delay: 0.3s;
}
.cloud1 {
  position: absolute;
  background: transparent url(images/cloud-1.svg) no-repeat;
   top: 5vh;
   left: 0;
   width: 70vw;
   height: 30vh;
   background-size: contain;
  animation: cloud-move 40s linear infinite;
  opacity: 0.65;
}
.cloud2 {
  position: absolute;
  background: transparent url(images/cloud-2.svg) no-repeat;
   top: 30vh;
   width: 70vw;
   height: 30vh;
   background-size: contain;
  animation: cloud-move 60s linear infinite;
  opacity: 0.5;
}
.cloud3 {
  position: absolute;
  background: transparent url(images/cloud-3.svg) no-repeat;
   top: 70vh;
   width: 50vw;
   height: 40vh;
   background-size: contain;
  animation: cloud-move 30s linear infinite;
  opacity: 0.5;

}
@keyframes cloud-move {
  0%{transform: translate(-70vw);}
  99%{transform: translate(100vw);}
  100%{transform: translateX(100vw);}
}

/* Dark-Mode Background Design */
.night-sky {
  opacity: 0;
  transition: 0.1s;
  overflow: hidden;
  transition-delay: -0.3s;
}
.stars {
  position: absolute;
  background: transparent url(images/stars.svg) repeat;
   background-size: contain;
   height: 100vh;
   width: 100vw;
   opacity: 0.75;
}
.twinkle{
  position: absolute;
  background: transparent url("images/twinkle.svg") repeat;
  height: 100vh;
  width: 1000vw;
    right: 0;
    top: 0;
    bottom: 0;
  animation:move-background 100s linear infinite;
  opacity: 1;
}
@keyframes move-background {
  from {transform: translate3d(0px, 0px, 0px);}
	to {transform: translate3d(1000px, 0px, 0px);}
}

/* Logo and Toggle Button */
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 5vh;
}
.nav li {
  display: flex;
}
.nav-logo {
  position: absolute;
  background-image: url(images/blue-logo.svg);
   background-repeat: no-repeat;
   background-size: contain;
   top: 1.5rem;
   width: 3rem;
   height: 3rem;
}

.switch {
  position: relative;
  display: inline-block;
  z-index: 100;
  width: 2.75rem;
  height: 1.5rem;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  transition: var(--transition)
}
.slider:before {
  position: absolute;
  content: "";
  background-color: var(--l-primary);
  transition: .4s;
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
}
input:checked + .slider {
  background-color: var(--d-primary);
}
input:checked + .slider:before {
  background-color: var(--white);
  transform: translateX(1.25rem);
}
.slider.round {
  border-radius: 2.125rem;
}
.slider.round:before {
  border-radius: 2.125rem;
}
label p {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}
button {
  border: transparent;
  background-color: var(--l-primary);
  color: var(--white);
}

/*
=============== 
Dark Mode
===============
*/
.dark {
  color: var(--white);
  background-color: var(--d-bg-blue);
}
.dark .sky {
  background-position: top;
  transition: var(--transition);
}
.dark .day-sky {
  opacity: 0;
  transition: var(--transition);
  transition-delay: -0.3s; 
}
.dark .night-sky {
  opacity: 1;
  transition-delay: 0.2s;
}
.dark .mountains {
  background-image: var(--desktop-dark-mountains);
}
.dark .gradient {
  background-image: linear-gradient(to bottom, #232d47, #2d3956, #364665, #405375, #4a6185);
}
.dark .nav-logo {
  background-image: url(images/white-logo.svg);
}
.dark .contact input:not(.submit), 
.dark .contact input::placeholder,
.dark .message,
.dark .message::placeholder {
  background-color: var(--d-bg-blue);
  color: var(--white);
}
.dark .header-btn, 
.dark .portfolio-btn,
.dark .submit {
  background-color: var(--d-primary);
}
.dark .services h3 {
  color: var(--d-primary);
}
.dark .huddle {
  background-color: var(--white);
  color: var(--d-primary);
}
.dark footer, 
.dark .contact, 
.dark .mission li {
  background-color: var(--d-primary-half);
}
.dark .success-msg {
  background-color: var(--d-primary-half);
}
.dark .questionnaire-btn {
  background-color: var(--d-primary);
}
.dark .home {
  background-color: var(--d-primary);
}


/*
=============== 
Layout
===============
*/

/* Header */
.header-info {
  position: relative;
  width: 100vw;
  height: 50vh;
  text-align: center;
  padding-bottom: 2.5vh;
}
.header-info h1 {
  padding-bottom: 2.5vh;
}
.header-info p {
  letter-spacing: 0.05rem;
  padding: 0 7.5vw 5vh;
}
.header-btn{
  border-color: transparent;
  border-radius: 0.25rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
/* Main */
main {
  position: relative;
  width: 100vw;
  text-align: center;
}

/* Services */
.services {
  margin: 1.5rem;
}
.services img {
  height: 10rem;
  width: auto;
}
.services ul {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}
.services li {
  padding: 1rem;
}
.services h3 {
  padding: 1rem 0;
}

/* Mission */
.mission {
  margin: 1.5rem;
}
.mission ul {
  display: flex;
    flex-direction: column;
  padding: 2rem 0;
}
.mission li {
  padding: 0.25rem 1rem 1rem;
  margin: 1rem;
  background-color: var(--half-white);
  border-radius: 0.5rem;
}
.mission h3 {
  padding: 1rem 0;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "portfolio-title"
    "portfolio-info"; 
  justify-items: center; 
  width: 100vw;
}
.portfolio-title { 
  grid-area: portfolio-title; 
  text-align: center;
}
.portfolio-title h2 {
  font-size: 12vw;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.portfolio-info {
  display: grid; 
  width: 80vw;
  margin: 1rem 2.5rem;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0.5rem 0.5rem; 
  grid-template-areas: 
    "skilled huddle base-apparel"
    "skilled vm-btn base-apparel"; 
  justify-content: center; 
  align-items: center; 
  grid-area: portfolio-info; 
  text-align: center;
}
.skilled {
  height: 7.5rem;
  grid-area: skilled; 
  background-color: #9EBAE1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #232D47;
  font-weight: 600;
  letter-spacing: .1rem;
  border-radius: 0.15rem;
  cursor: pointer;
}
.huddle {
  grid-area: huddle;
  background-color: #D3DBE4; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-headings);
  font-weight: 500;
  letter-spacing: 0.05rem;
  border-radius: 0.15rem;
  font-size: 1.25rem;
  height: 3.5rem;
  cursor: pointer;
}
.base-apparel {
  grid-area: base-apparel; 
  background-color: #3A4768;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.15rem;
  height: 7.5rem;
  cursor: pointer;
}
.portfolio-btn {
  grid-area: vm-btn; 
  background-color: var(--l-primary);
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05rem;
  border-radius: 0.15rem;
  height: 3.5rem;
  cursor: pointer;
}

/* Contact */
.contact {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  text-align: center;
  margin: 3rem 2rem 3rem;
}
form {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "h2 h2"
  "name business"
  "email email"
  "message message"
  "submit submit";
}
.contact h2 {
  grid-area: h2;
}
.name {
  grid-area: name;
}
.business {
  grid-area: business;
}
.email {
  grid-area: email;
}
.message {
  grid-area: message;
}
.submit {
  grid-area: submit;
}
.contact h2 {
  padding: 1rem;
}
input {
  border-color: transparent;
  border-radius: 0.25rem;
  text-align: start;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
input:focus {
  outline: none;
}
.message {
  border-color: transparent;
  border-radius: 0.25rem;
  text-align: start;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  height: 5rem;
}
.message:focus {
  outline: none;
}
.submit {
  background-color: var(--l-primary);
  color: var(--white);
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--half-white);
}
.footer-info {
  text-align: center;
}
.footer-info h1 {
  display: block;
  white-space: nowrap;
}
.footer-info ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
}
.footer-info li {
  font-size: 2rem;
  margin: 1rem 1.25rem;
}
.copyright p {
  font-size: 0.75rem;
}

/* Success */
.success-msg {
  text-align: center;
  margin: 10vh 10vw;
  background-color: var(--half-white);
  border-radius: 0.5rem;
  padding: 1rem;
}
.success-msg h1 {
  padding-bottom: 0.5rem;
}
.questionnaire {
  padding: 2rem 0 1.5rem;
  line-height: 1.25;
}
.thank-you {
  font-size: 0.75rem;
}
.success-btns {
  display: flex;
  flex-direction: column;
}
.questionnaire-btn {
  border: none;
  background-color: var(--l-primary);
  color: var(--white);
  border-radius: 0.25rem;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  width: 50vw;
  padding: 0.25rem 0;
  cursor: pointer;
}
.home {
  border: none;
  background-color: var(--l-primary);
  color: var(--white);
  border-radius: 0.25rem;
  letter-spacing: 0.05rem;
  margin: 0 auto;
  width: 30vw;
  padding: 0.25rem 0;
  cursor: pointer;
  font-size: 0.75rem;
}
.success-btns a:hover {
  font-weight: bold;
}
.return-home {
  margin-top: 1rem;
}

/*
=============== 
Active
===============
*/
.skilled:hover, 
.huddle:hover, 
.base-apparel:hover, 
.portfolio-btn:hover, 
.header-btn:hover, 
.submit:hover {
  font-weight: bold;
}
.footer-info li:hover {
  font-size: 2.25rem;
  margin: 0.75rem 1rem;
  cursor: pointer;
}

@media screen and (max-height:450px) {
  header {
    min-height: 125svh;
  }
  .sky {
    min-height: 125svh;
  }
}
@media screen and (max-width:480px) {
  .mountains {
    height: 50vh;
  }
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width:481px) and (max-width:767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.25rem;
  }
  .header-btn{
    font-size: 1.25rem;
  }
  form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .header-btn{
    font-size: 1.5rem;
  }
  .header-info p {
    padding: 0 5vw 5vh;
  }
  .services ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }
  .contact {
    margin: 3rem 10vw 3rem;
  }
  .thank-you {
    font-size: 1rem;
  }
  @media screen and (max-height:600px) {
    header {
      min-height: 125svh;
    }
    .sky {
      min-height: 125svh;
    }
  }
}
@media screen and (min-width:1205px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .header-btn{
    font-size: 1.5rem;
  }
  .header-info p {
    padding: 0 5vw 5vh;
  }
  .mountains {
    height: 75vh;
  }
  .services ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
  .mission ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
  .contact {
    margin: 5rem 10vw 5rem;
  }
  .thank-you {
    font-size: 1rem;
  }
  @media screen and (max-height:750px) {
    header {
      min-height: 125svh;
    }
    .sky {
      min-height: 125svh;
    }
  }
}